.App {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #282c34;
  justify-content: center;
}

.App-logo {
  height: 30vmin;
}

.Movie-tile {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}